    /*
    Flaticon icon font: Flaticon
    Creation date: 25/05/2019 23:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-floor:before { content: "\f100"; }
.flaticon-woodworking:before { content: "\f101"; }
.flaticon-saw:before { content: "\f102"; }
.flaticon-saw-2:before { content: "\f103"; }
.flaticon-vest:before { content: "\f104"; }
.flaticon-worker:before { content: "\f105"; }
.flaticon-constructor-with-hat-and-a-gear:before { content: "\f106"; }
.flaticon-nail:before { content: "\f107"; }
.flaticon-fabric-1:before { content: "\f108"; }
.flaticon-parquet-3:before { content: "\f109"; }
.flaticon-tile:before { content: "\f10a"; }
.flaticon-stair:before { content: "\f10b"; }
.flaticon-stair-1:before { content: "\f10c"; }
.flaticon-dohyo:before { content: "\f10d"; }
.flaticon-floor-1:before { content: "\f10e"; }
.flaticon-fabric-2:before { content: "\f10f"; }
.flaticon-floor-2:before { content: "\f110"; }
.flaticon-floor-3:before { content: "\f111"; }
.flaticon-floor-5:before { content: "\f112"; }
.flaticon-floor-6:before { content: "\f113"; }
.flaticon-pattern:before { content: "\f114"; }
.flaticon-pattern-1:before { content: "\f115"; }
.flaticon-wood-2:before { content: "\f116"; }
.flaticon-floor-7:before { content: "\f117"; }
.flaticon-floor-8:before { content: "\f118"; }
.flaticon-tile-1:before { content: "\f119"; }
.flaticon-floor-9:before { content: "\f11a"; }
.flaticon-floor-10:before { content: "\f11b"; }
.flaticon-fabric-3:before { content: "\f11c"; }
.flaticon-waterproof:before { content: "\f11d"; }
.flaticon-wood-3:before { content: "\f11e"; }
.flaticon-chimney:before { content: "\f11f"; }
    
    $font-Flaticon-floor: "\f100";
    $font-Flaticon-woodworking: "\f101";
    $font-Flaticon-saw: "\f102";
    $font-Flaticon-saw-2: "\f103";
    $font-Flaticon-vest: "\f104";
    $font-Flaticon-worker: "\f105";
    $font-Flaticon-constructor-with-hat-and-a-gear: "\f106";
    $font-Flaticon-nail: "\f107";
    $font-Flaticon-fabric-1: "\f108";
    $font-Flaticon-parquet-3: "\f109";
    $font-Flaticon-tile: "\f10a";
    $font-Flaticon-stair: "\f10b";
    $font-Flaticon-stair-1: "\f10c";
    $font-Flaticon-dohyo: "\f10d";
    $font-Flaticon-floor-1: "\f10e";
    $font-Flaticon-fabric-2: "\f10f";
    $font-Flaticon-floor-2: "\f110";
    $font-Flaticon-floor-3: "\f111";
    $font-Flaticon-floor-5: "\f112";
    $font-Flaticon-floor-6: "\f113";
    $font-Flaticon-pattern: "\f114";
    $font-Flaticon-pattern-1: "\f115";
    $font-Flaticon-wood-2: "\f116";
    $font-Flaticon-floor-7: "\f117";
    $font-Flaticon-floor-8: "\f118";
    $font-Flaticon-tile-1: "\f119";
    $font-Flaticon-floor-9: "\f11a";
    $font-Flaticon-floor-10: "\f11b";
    $font-Flaticon-fabric-3: "\f11c";
    $font-Flaticon-waterproof: "\f11d";
    $font-Flaticon-wood-3: "\f11e";
    $font-Flaticon-chimney: "\f11f";