#navigation ul
  margin-right: 10px

.card-links
  // padding: 0
  border-top: 1px solid #91bbff
  a
    display: inline-block
    float: right
    padding: 10px
    margin: 0 10px
    cursor: pointer