@import '../../node_modules/materialize-css/sass/materialize.scss' 

$control-text: #c4c4c4

/* ------------------------ General ---------------------- */
a
  cursor: pointer

.heading-1, .heading-2, .heading-3, .heading-4
  font-weight: 400

.heading-1
  font-size: 4.2rem
  line-height: 110%
  // margin: 2.8rem 1.68rem 0

h1, h2, h3, h4, h5, h6
  text-transform: capitalize

h2, h3
  font-weight: 400
  color: orange

h2
  margin: 10px 0
  font-size: 2.2rem
  text-align: center

h3
  margin: 10px 0
  font-size: 2rem

span.heading-4
  font-size: 2.28rem
  line-height: 110%
  
.slogan-container
  padding: 2px
  text-transform: capitalize
  box-shadow: 0px .8px 30px .3px black

.row
  width: 100% !important
  margin: 0 !important

.clearfix
  overflow: auto

i[class^=flaticon]
  color: orange

.overview.row
  padding: 5px
  .card-container
    text-align: justify
    hyphens: auto
    padding: 5px !important
    .card
      line-height: 1.7
      margin: 0px
      span
        text-align: left
        line-height: 2rem
      h5
        color: orange
        i
          margin-right: 5px
      .large-content
        > h5
          margin-top: 0
        > p
          padding: 0 10px 20px

#about, #services, #car-sales 
  .overview .row .card-container .card .card-content p
    text-align: justify
    hyphens: auto

.header
  .card-content
    padding: 10px !important
    text-align: center

.card-content.card-centered
  text-align: center

.seo
  margin-top: -400px
  position: absolute

/* ------------------------ Navigation ---------------------- */
#logo
  height: 60px
  padding: 5px
  margin: 0 30px

#tabs-swipe
  display: none

@media #{$medium-and-down}
  .hamburger-close
    text-align: right
    p 
      display: inline-block
      padding: 10px

.navbar
  nav
    ul
      margin-right: 130px
      a
        color: #8c8c8c
      a.active
        color: white
    @media #{$large-and-up}
      position: fixed
      top: 0
      z-index: 102
    @media #{$medium-and-down}
      position: static
      .sidenav-trigger
        position: fixed
        padding: 0px
        margin: 0
        z-index: 102
        i
          background-color: rgba(0,0,0,.5)
          margin: 0px 10px
          padding: 0 10px
      
ul#mobile
  background-color: rgba(255,255,255,.9)
  width: 230px
  a
    color: #7a7a7a
  a.active
    color: black

section[id]
  background-color: rgba(177, 187, 204,.6)
  @media #{$large-and-up}
    margin-top: 63px
section.modals
  margin-top: 0

#company-name
  position: absolute
  z-index: 101
  top: 250px
  width: 100%
  text-align: center
  .heading-1, .heading-2, .heading-3, .heading-4
    padding: 5px 20px
    margin: 0
    color: white
    background: rgba(0,0,0,.6)
    border-radius: 10px
    display: inline-block

/* ------------------------ Home Slider ---------------------- */
ul.slides
  height: 440px !important
ul.indicators
  position: absolute
  top: 390px
  z-index: 100
#welcome-slider
  img
    content: none !important
  .caption
    h6
      color: orange
      background-color: rgba(0,0,0,.7)
      display: inline-block
      padding: 3px 7px
      border-radius: 5px
      margin: 0
    p
      color: yellow !important
      background-color: rgba(0,0,0,.7)
      display: inline-block
      padding: 3px 7px
      border-radius: 5px
      margin: 0

/* ------------------------ Home Cards ---------------------- */
#home 
  .card-content
    .text-display-list
      margin: 0
      > li
        display: inline-block
        margin: 0
        float: left
        width: 50%
        text-align: center
        padding: 10px 20px
        p, ul
          text-align: justify
          hyphens: auto
        @media #{$small-and-down}
          width: 100%
          ul
            text-align: center    
      @media #{$medium-and-up}
        > li:nth-child(2)
          // border-right: 1px solid #c1c1c1
          border-left: 1px solid #c1c1c1
  .card-content:first-child
    padding-left: 5px
    padding-right: 5px

#get-involved
  padding: 1px

.btn-floating
  background-color: rgba(30, 133, 123, .7)

/* ------------------------ AboutUs Cards ---------------------- */
.card#owner
  @media #{$medium-and-up}
    margin-right: 20px
    margin-bottom: 20px
#about 
  .card-content
    h5
      text-align: center

/* ------------------------ Services Cards ---------------------- */
#services
  .card-content p
    // font-style: italic
    color: grey

/* ------------------------ Gallery Cards ---------------------- */
#car-sales 
  // padding: 10px 5px 5px 5px
  .card-container
    padding: 5px !important
    .card
      // border-radius: 5px
      overflow: hidden
      .card-image
        padding: 3px
        position: relative
        .carousel-btn
          width: 98%
          padding: 3px
          position: absolute
          top: 80px !important
          margin: 0
          z-index: 900
          .left, .right
            background: rgba(0,0,0,.5)
            border-radius: 5px
            padding: 10px
            cursor: pointer
          .left
            float: left
          .right
            float: right
      .card-content
        padding: 3px 10px
        .subtitle
          div
            display: inline-block
            float: left
            margin-right: 10px
          .price
            padding: 0 5px
            background-color: #d1ffd2
        h3
          font-size: 1.1rem
          font-weight: bold
          color: black
          margin: 0
          margin-top: 5px
          padding: 5px
          background-color: #e2f0ff
          display: inline-block
        ul
          margin: 0
          margin-top: 5px
          li
            display: inline-block
            padding: 0 4px
            float: left
            width: 50%
            text-align: left //xxx
            line-height: 1.5rem
            span
              display: inline-block
              padding-left: 5px
              line-height: 1rem
        .avail
          display: inline-block
          padding: 0 5px
          background-color: #fceaff
          margin-top: 5px

.private-data
  color: red
  display: none
  visibility: hidden

/* --------------------------- Footer ------------------------- */
footer.page-footer 
  background: url("/images/backgrounds/footer-bg.webp") no-repeat top right / cover
  padding: 10px
  border-top: 1px solid #230b01
  box-shadow: 0px -1px 30px .5px black
  .container
    margin: 0px !important
    width: 100%
    max-width: none
    text-align: center
    .row
      font-weight: lighter
      > div
        padding: 10px 30px
    @media #{$small-and-down}
      

footer.page-footer
  .row
    padding: 10px
    @media #{$medium-and-down}
      padding: 10px 60px
    // .text-display-list 
    //   > li
    //     text-align: center
    //     padding: 10px 50px 30px
    //   @media #{$medium-and-up}
    //     > li
    //       text-align: left
    //     > li:nth-child(2)
    //       border-right: 1px solid #7c7c7c
    //       border-left: 1px solid #7c7c7c

/* ------------------------ Modal ---------------------- */
.fixed-action-btn
  li.upload
    visibility: hidden

.modal
  top: 200px
  width: 90%
  // border: none !important
  .modal-content
    padding: 0
    .addImgUnit
      margin-top: 20px
      border-top: 1px solid grey
  .container
    padding: 0
    margin: 0 !important
    padding: 10px
    max-width: none
    width: 100%
    a
      margin: 0 10px
      // background-color: #43a0f2
      // color: white
      // padding: 0 5px
    .col
      padding: 0 10px 10px 10px
      color: #c4c4c4
      h5, h6
        color: white
        ~ P
          margin: 0
          margin-left: 10px
        ~ h6
          margin: 10px 5px 0 !important
      h6
        margin: 10px 5px !important
      input, textarea
        max-width: 95%
        margin: 0 10px 5px !important
        color: #c4c4c4
      label
        margin: 0 15px 10px !important
      textarea
        height: 90px !important
      iframe
        margin-top: 15px !important
        height: 220px
        width: 95%
      button
        padding: 10px
    > :first-child
      @media #{$large-and-up}
        padding: 0 10px 15px
        border-right: 1px solid grey

a#footer-mdl-btn
  position: fixed !important
  color: yellow
  font-weight: 300
  background-color: rgba(30, 133, 123,.3)
  margin-top: -55px
  right: 10px
  text-transform: capitalize
  z-index: 150
  top: 70px !important
  @media #{$small-and-down}
    top: 65px !important

.img-unit
  label
    display: inline-block
    padding-top: 7px
    padding-bottom: 7px

/* ---------------------- Car Details Modal ------------------- */
#car-details
  max-height: 95% !important
  top: 2% !important
  li
    // padding: 5px
    line-height: 1.6rem
    span
      color: yellow
      padding: 0 5px

/* ------------------------ Upload Modal ---------------------- */

#upload-form
  max-height: 95% !important
  top: 2% !important

.img-unit
  border-top: 1px solid grey
  padding: 5px 0 25px !important
  .img-box
    height: 180px !important
    width: 80% !important
    margin: 0 auto
  .img-box.disabled
    pointer-events: none
    opacity: 0.4
  .cr-slider-wrap
    margin: 0 auto

.upload-input
  display: none
  visibility: hidden

a.modal-upload
  padding: 7px 10px
  margin: 0
  display: inline-block
  cursor: pointer

/* --------------------------- Login -------------------------- */
section.login-header
  background-color: black
  text-align: center
  nav
    display: block !important
    padding-top: 0px !important
.login 
  form.col
    background-color: grey
    padding: 15px 30px
    margin: 10px auto 
    text-align: center
    input, label
      color: white !important
