doctype html
html(lang="en")
  head
    include header
    include header-admin
  body(style="background: url('images/backgrounds/main-bg.webp') no-repeat top right / cover; background-attachment:fixed; margin: 0;")
    include navigation-private
    include content-home
    include modal-upload-preview
    include modal-car-details
    include modal-edit-car-details
    include footer-content
    include footer-scripts