ul#tabs-swipe.tabs
  li.tab.col.s3
    a.active(href='#home') Home
  li.tab.col.s3
    a(href='#about') About
  li.tab.col.s3
    a(href='#services') Services
  li.tab.col.s3
    a(href='#car-sales') Car Sales
//- include modal-buttons
section#home.col.s12
  #company-name
    h2.heading-1 Ghov Auto
    br
    span.heading-4 Repair & Sale
  #welcome-slider.slider.grey.darken-2
    ul.slides(style="height: 440px")
      li
        img(src='/images/slider/slider1.webp',
            data-src='/images/slider/slider1',
            alt='carousel image')
        // random image
        .caption.center-align
          h6 Car Sales
          br
          p.light.grey-text.text-lighten-3 Shop For Your Next Luxury Ride
      li
        img(src='/images/slider/slider2.webp', 
            data-src='/images/slider/slider2', 
            alt='carousel image')
        // random image
        .caption.left-align
          h6 Repairs
          br
          p.light.grey-text.text-lighten-3 Complete Care
      li
        img(src='/images/slider/slider3.webp', 
            data-src='/images/slider/slider3', 
            alt='carousel image')
        // random image
        .caption.center-align
          h6 Maintenance
          br
          p.light.grey-text.text-lighten-3 Great Services
      li
        img(src='/images/slider/slider4.webp', 
            data-src='/images/slider/slider4', 
            alt='carousel image')
        // random image
        .caption.right-align
          h6 Great Customer Service
          br
          p.light.grey-text.text-lighten-3 Skills, Experience & Professionalism
  .grey.darken-2.white-text.center-align.slogan-container
    p We are here for all your car needs, from repairing and maintaining your current car, to buying a new one
  .overview.row
    .card-container
      .card.hoverable
        .card-content(data-aos="zoom-in")
          ul.text-display-list.clearfix
            li
              i.flaticon-engine
              h3 Great Service
              p Your auto’s repair and service needs should always remain in the hands of true professionals, and here we are. At GHOV AUTO we are professionals that handle a wide variety of auto repair services and maintenance, for all makes and models. We are a Better Alternative to a Dealer
            li
              i.flaticon-dices
              h3 Great Prices
              p We always perform a thorough diagnostic on your car before leaping to expensive and time-wasting conclusions. Experience and an exceptional knowledge base have taught us to rely on more than just machines and tools, but also on a wealth of know-how and training
            //- li
            //-   i.flaticon-floor
            //-   h5 Quality Parts
            //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    .col.s12.m4.card-container
      .card.resizable.hoverable(data-aos="zoom-in-up")
        .card-image
          picture
            source(type='image/webp', srcset='/images/overview/overview1.webp')
            source(type='image/jpg', srcset='/images/overview/overview1.jpg')
            img(src='images/overview/overview1.webp', 
                onerror="this.src='images/overview/overview1.jpg'", 
                alt='car sale')
          span.card-title Car Sales
        .card-content
          p We have years of experience working with pre-owned vehicles. We know how to find the right models, and we know ow to keep our overhead low so that you get the car you want at the right price. We always put our customers first, and we never pressure people into a sale
        .card-action
          a(onclick="menuAction('car-sales');") Learn More
    .col.s12.m4.card-container
      .card.hoverable.resizable(data-aos="zoom-in-up")
        .card-image
          picture
            source(type='image/webp', srcset='/images/overview/overview2.webp')
            source(type='image/jpg', srcset='/images/overview/overview2.jpg')
            img(src='images/overview/overview2.webp', 
                onerror="this.src='images/overview/overview2.jpg'", 
                alt='repair')
          span.card-title Repairs
        .card-content
          p Your auto’s repair and service needs should always remain in the hands of true professionals, and here we are. It is our pleasure to be here for you and your vehicle. But it’s even better to see you both drive away in a better condition than when we found you.
        .card-action
          a(onclick="menuAction('services');") Learn More
    .col.s12.m4.card-container
      .card.hoverable.resizable(data-aos="zoom-in-up")
        .card-image
          picture
            source(type='image/webp', srcset='/images/overview/overview3.webp')
            source(type='image/jpg', srcset='/images/overview/overview3.jpg')
            img(src='images/overview/overview3.webp', 
                onerror="this.src='images/overview/overview3.jpg'", 
                alt='maintenance')
          span.card-title Maintenance
        .card-content
          p Routine maintenance and prevention is our priority, and the standard that Autoworks values most. Even with its oil changes, Autoworks includes additional services like topping off all fluids, running safety checks on lights, brakes, belts, hoses, and suspension
        .card-action
          a(onclick="menuAction('services');") Learn More
section#car-sales.col.s12
  .overview.row
    .header.col.s12.m12.l12.card-container
      .card.hoverable.row
        .card-content.col.s12.m12.l12.xl12
          h2 Car Sales
          p
            | Our used car inventory
          P
            | We are dedicated in making your buying experience exceptional
    each job in jobs
      .col.s12.m12.l6.card-container
        .card.hoverable.resizable.row
          .card-image.col.s12.m4.l5.xl4
            .carousel-btn
              a.left <
              a.right >
            .carousel.carousel-slider.center
              each imgSrc in job.src
                .carousel-item
                  img(src=imgSrc + '.webp', 
                      onerror="this.src='" + imgSrc + ".jpg'", 
                      title="job image", 
                      alt="job performed")
          .card-content.col.s12.m8.l7.xl8
            .subtitle
              .price 
                b #{new Intl.NumberFormat('USD', { style: 'currency', currency: 'USD' }).format(job.description.price)}
              .mileage 
                small #{new Intl.NumberFormat({style: 'decimal'}).format(job.description.mileage)}mi
            .state 
              i #{job.description.state}
            h3.title #{job.description.title}
            ul.clearfix
              li 
                div
                  b Ext. color:
                  span #{job.description.extColor}
              li 
                div
                  b Int. color:
                  span #{job.description.intColor}
              li 
                div
                  b Transmission:
                  span #{job.description.transmission}
              li 
                div
                  b Drivetrain:
                  span #{job.description.drivetrain}
            .avail
              a.learn-more.modal-trigger(href='#car-details') #{job.description.availability} | Learn more
          .card-links.admin.col.s12.m12.l12.xl12
            a.delete delete
            a.edit.modal-trigger(href='#edit-car-details') edit
            input.private-data(value=job.id)
section#services.col.s12
  .overview.row
    .header.col.s12.m12.l12.card-container
      .card.hoverable.row
        .card-content.col.s12.m12.l12.xl12
          h2 Services
    .col.s12.m6.l4.card-container
      .card.hoverable.resizable(data-aos="zoom-in")
        .card-image
          picture
            source(type='image/webp', srcset='/images/services/services1.webp')
            source(type='image/jpg', srcset='/images/services/services1.jpg')
            img(src='images/services/services1.webp', 
                onerror="this.src='images/services/services1.jpg'", 
                alt="lube and brake")
          span.card-title Lubes & Brakes
        .card-content
          ul              
            li 
              h6 Full Service Oil Changes:
              p Regular oil And Full Synthetic
            li 
              h6 Filter Replacement: 
              p Fuel Filter, Air Filter, Cabin Filter.
            li 
              h6 Full Brake Service: 
              p Replacement Of Brake Pads And Resurface Rotors
            li 
              h6 Suspension: 
              p Shocks Replacement, Struts Replacement, Lift Springs And All Other Suspension Parts
    .col.s12.m6.l4.card-container
      .card.hoverable.resizable(data-aos="zoom-in")
        .card-image
          picture
            source(type='image/webp', srcset='/images/services/services2.webp')
            source(type='image/jpg', srcset='/images/services/services2.jpg')
            img(src='images/services/services2.webp', 
                onerror="this.src='images/services/services2.jpg'", 
                alt="engines")
          span.card-title Engines
        .card-content
          ul
            li 
              h6 Tune Ups:
              p Basic Tune ups, Major Tune ups, Performance Tune Ups
            li 
              h6 Timing Belt Replacement: 
              p Timing Belt Replacement Kits On All Vehicles Make And Model
            li 
              h6 Full Tire Service: 
              p Tire Replacement, Tire Balance, Tire Patch, New Or Used Tires Available
            li 
              h6 Hose Replacement: 
              p Water Hoses, Heater Hoses, Vacuum Hoses.
    .col.s12.m6.l4.card-container
      .card.hoverable.resizable(data-aos="zoom-in")
        .card-image
          picture
            source(type='image/webp', srcset='/images/services/services3.webp')
            source(type='image/jpg', srcset='/images/services/services3.jpg')
            img(src='images/services/services3.webp', 
                onerror="this.src='images/services/services3.jpg'", 
                alt="transmissions")
          span.card-title Transmissions
        .card-content
          ul
            //- li 
            //-   h6 Full Transmission Service: 
            //-   p Transmission Replacement,Transmission Maintenance,Transmission Flush.
            li 
              h6 Automatic transmission repair
            li 
              h6 Manual transmission repair
            li 
              h6 Change transmission fluid and flush
            li 
              h6 Differential repair and services
            li 
              h6 Transfer case repair and services
            li 
              h6 Clutches repair or replacement
            li 
              h6 Transmission rebuild
            li 
              h6 Transmission replacement
    .col.s12.m6.l4.card-container
      .card.hoverable.resizable(data-aos="zoom-in")
        .card-image
          picture
            source(type='image/webp', srcset='/images/services/services4.webp')
            source(type='image/jpg', srcset='/images/services/services4.jpg')
            img(src='images/services/services4.webp', 
                onerror="this.src='images/services/services4.jpg'", 
                alt="electrical workds")
          span.card-title Electrical Works
        .card-content
          ul
            //- li 
            //-   h6 Visual Inspection 
            //-   p A thorough visual inspection of battery and case condition
            li 
              h6 Battery Check
              p Check to ensure your battery can still deliver adequate power, and replace it if necessary
            li 
              h6 Cables
              p Electrical cable connections are examined and adjusted, if necessary
            li 
              h6 Thorough Troublesooting
              p Engine diagnostics may be necessary to troubleshoot sophisticated systems or complex electrical problems
    .col.s12.m6.l4.card-container
      .card.hoverable.resizable(data-aos="zoom-in")
        .card-image
          picture
            source(type='image/webp', srcset='/images/services/services5.webp')
            source(type='image/jpg', srcset='/images/services/services5.jpg')
            img(src='images/services/services5.webp', 
                onerror="this.src='images/services/services5.jpg'", 
                alt="maintenance")
          span.card-title Maintenance
          //- span.card-title Free Estimates
        .card-content
          ul
            li 
              h6 Preventive Maintenance: 
              p 30K/60K/90K Miles
            li
              h6 Courtesy Check-up: 
              p We’ll look inside, outside, under the hood and under the vehicle… and then offer you a written report.
            li 
              h6 Drivability Diagnosis: 
              p Drivability refers to anything having to do with how your vehicle is performing while on the road
    .col.s12.m6.l4.card-container
      .card.hoverable.resizable(data-aos="zoom-in")
        .card-image
          picture
            source(type='image/webp', srcset='/images/services/services6.webp')
            source(type='image/jpg', srcset='/images/services/services6.jpg')
            img(src='images/services/services6.webp', 
                onerror="this.src='images/services/services6.jpg'", 
                alt="A/C and divers")
          span.card-title A/C and Divers
        .card-content
          ul
            li 
              h6 Full A/C Service: 
              p Compressor Test, Full System test, Condenser Test.
            li 
              h6 Emission Service: 
              p Full System Flush That Cleans Throttle Body, intake runner, Fuel Rail, Inside of Fuel Injector, Tip Of Fuel Injector, Back Of Intake Valve, Combustion Chaimber, Spark Plugs, O2 Sensor, Catalytic Converter
section#about.col.s12
  .overview.row
    .header.col.s12.m12.l12.card-container
      .card.hoverable.row
        .card-content.col.s12.m12.l12.xl12
          h2 About Us
    .col.card-container
      .card.hoverable.clearfix
        .card-content.large-content
          .col.s12.m4.card-container
            .card#owner.hoverable(data-aos="flip-left")
              .card-image
                picture
                  source(type='image/webp', srcset='/images/team/team-owner.webp')
                  source(type='image/jpg', srcset='/images/team/team-owner.jpg')
                  img(src='images/team/team-owner.webp', 
                      onerror="this.src='images/team/team-owner.jpg'", 
                      alt="owner's image")
                span.card-title Owner
          p
            b At Ghov Auto Repair & Sale, we’re dedicated 
            | to providing top quality auto repair and maintenance services to our customers. We truly care about the services we provide. We promise that you’ll find friendly faces and competitive prices at our Howell auto repair shop! It’s the Total Difference – the warm handshake, the friendly smile, the good deal, the fair price – the trust we earn when we go the extra mile so you can drive that extra mile.
          .col.s12.m4.l3.card-container(style="float: right; margin: 0 0 10px 12px")
            .card.hoverable(data-aos="flip-right")
              .card-content.card-centered
                p
                  | WE ARE FULLY LICENSED & INSURED 
                p
                  | 24 HOUR / 7 DAYS EMERGENCY SERVICE AVAILABLE 
                p
                  | NEXT DAY SERVICE! CALL NOW:  
                p
                  | 347-665-5678 or 718-606-2161
          h5: i.flaticon-gearshift
          p
            b Whether you’re here for routine maintenance 
            | or a less common auto repair need, you’ll find that our service is far from ordinary. You’ll be impressed by our Technicians, who utilize the latest diagnostic equipment and highest quality parts and fluids to service all makes and models of cars, trucks, and SUVS. You’ll rest assured knowing we back all auto repair work with a warranty
          h5: i.flaticon-battery
          p
            b Ghov Auto Repair & Sale is committed to 
            | providing exceptional auto repair service.
          h5: i.flaticon-piston