doctype html
html(lang="en")
  head
    include header
  body(style="background: url('images/backgrounds/main-bg.jpg') no-repeat top right / cover; background-attachment:fixed; margin: 0;")
    div(style="margin: 10% auto; color: orange; padding: 50px; background: rgba(0,0,0,.8); text-align: center")
      h1 404 - You Entered A Wrong URL
      p Please try again
      p The address to the root of the site is:
      p http://www.ghovauto.com/
    include footer-scripts