footer.page-footer
  .container.z-depth-5.grey.darken-3(style="border: 1px solid #2d2d2d;")
    .row.clearfix 
      p
        | Call us now for a free Estimate at 
        a(href="tel:347-665-5678") 347.665.5678 
        | or 
        a(href="718-606-2161") 718.606.2161
  //-     ul.text-display-list
  //-       li.col.m4.s12
  //-         h6.white-text Links
  //-         ul
  //-           li
  //-             a.grey-text.text-lighten-3(onclick="instance.select('home'); modalInstance.close();false;") Home
  //-           li
  //-             a.grey-text.text-lighten-3(onclick="instance.select('about');false;") About Us
  //-           li
  //-             a.grey-text.text-lighten-3(onclick="instance.select('services');false;") Services
  //-           li
  //-             a.grey-text.text-lighten-3(onclick="instance.select('car-sale');false;") Gallery
  //-       li.col.m4.s12
  //-         h6.white-text Our Contacts
  //-         ul
  //-           li.grey-text.text-lighten-4 
  //-             | Tel:
  //-             a(href='tel:')
  //-           li.grey-text.text-lighten-4 E-mail: @
  //-           li.grey-text.text-lighten-4 Adress: Queens, NY 11101
  //-           li.grey-text.text-lighten-4 Click here for Map and Direction
  //-       li.col.m4.s12
  //-         h6.white-text Social Media
  //-         ul
  //-           li.grey-text.text-lighten-4 Google:
  //-           li.grey-text.text-lighten-4 Faceboo:
  //- .footer-copyright
  //-   .container
  //-     | ©
  //-     a.grey-text.text-lighten-4.right(href='') Back to the Top
    p    
