script(src="/jquery/dist/jquery.min.js")
script(src="/materialize-css/dist/js/materialize.min.js")
script(src="/plugins/aos/aos.js")
script(src="/underscore/underscore-min.js")
script(src="/croppie/croppie.js")
script(src="/unitegallery/dist/js/unitegallery.min.js")
script(src="/unitegallery/dist/themes/carousel/ug-theme-carousel.js")
script(src="/js/main.js")