meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="description", content="Ghov Auto Repair Shop & Sale is mechanic shop located in Long Island City that also sell cars")
meta(name="title", content="Ghov Auto Repair Shop & Sale")

//- link(href='fonts/icomoon/style.css', rel='stylesheet')
//- link(href='css/magnific-popup.css', rel='stylesheet')
//- link(href='/fonts/flaticon/font/flaticon.css', rel='stylesheet')

link(href='/images/logo/favicon.ico', rel='icon')
link(href='/css/flaticons-mechanics/flaticon.css', rel='stylesheet')
link(rel="stylesheet", href="/croppie/croppie.css")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
link(href="/materialize-css/dist/css/materialize.min.css", rel="stylesheet")
link(href="plugins/aos/aos.css", rel="stylesheet")
link(href="/unitegallery/dist/css/unite-gallery.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
title Ghov Auto Repair Shop & Sale