doctype html
html(lang="en")
  head
    include header
    include header-public
  body(style="background: url('images/backgrounds/main-bg.webp') no-repeat top right / cover; background-attachment:fixed; margin: 0;")
    h1.seo Ghov Auto
    include navigation-public
    include content-home
    include modal-contactndir-form
    include modal-car-details
    include modal-edit-car-details
    include footer-content
    include footer-scripts