doctype html
html(lang="en")
    head
        include header
    body(style="background: url('images/backgrounds/main-bg.webp') no-repeat top right / cover; background-attachment:fixed; margin: 0;")
        section.login-header.p-0
            nav.navbar.navbar-expand-lg.navbar-dark.transparent.sticky-top
                a.navbar-brand(href='/', style="display: block !important") The Best Carpet & Design
        section.form.row.login.valign-wrapper
            form.col.s11.m8.l5(action='/login', method="POST")
                .form-group
                    label(for="username") Username
                    input.form-control(type="text", id='username', name='username')
                .form-group
                    label(for="password") Password
                    input.form-control(type="password", id='password', name='password')
                .form-group
                    input.btn.bkg-primary.txt-secondary(type="submit", value='Submit')