section.modals
  .fixed-action-btn
    a.btn-floating.btn-large.waves-effect.waves-light.btn
      i.large.material-icons contact_phone
    ul
      li
        a.btn-floating.red.waves-effect.waves-light.modal-trigger(href='#contact')
          i.material-icons publish
      li
        a.btn-floating.yellow.darken-1.waves-effect.waves-light(href="mailto:ghov1973@gmail.com", target="_blank", onclick="false;")
          i.material-icons email
      li
        a.btn-floating.blue.waves-effect.waves-light(href="tel:347-665-5678")
          i.material-icons local_phone
  a#footer-mdl-btn.waves-effect.waves-light.btn.modal-trigger(href='#contact') Contact Us
  // Modal Structure
  #contact.modal
    .modal-content.row.container.z-depth-5.grey.darken-3(style="border-top: 1px solid #2d2d2d;border-bottom: 1px solid #2d2d2d")
      .col.m12.l6
        h5 Contact Us
        p 
          | Cel:
          a(href='tel:347-665-5678') 347.665.5678
          | - Work:
          a(href='tel:718-606-2161') 718.606.2161
        p
          | Email:
          a(href='mailto:ghov1973@gmail.com') ghov1973@gmail.com
        h6 Message:
        //- form(action="")
        div#emailForm
          input#email.validate(name="email", type="email", placeholder="enter email")
          textarea#message(name="message", placeholder="your message")
          input#send.waves-effect.waves-light.btn-small.grey.darken-3.btn-flat.grey-text(onclick='sendEmail(event);false;', type='button', value='Send')
          input#clear.waves-effect.waves-light.btn-small.grey.darken-3.btn-flat.grey-text(onclick='clearFields(event);false;', type='button', value='Clear')
      .col.m12.l6
        h5 Adress & Map
        p Adress: 10-02 38th Ave, Long Island City, NY 11101
        iframe#mapcanvas(width='100%', height='100%',
        src='https://maps.google.com/maps?q=10-02%2038th%20Ave,%20Long%20Island%20City,%20NY%2011101&t=k&z=10&ie=UTF8&iwloc=&output=embed',
        frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
          | <div class="zxos8_gm"><a rel="nofollow" href="https://www.codeguesser.co.uk/bensonsforbeds.co.uk">Codeguesser</a>
          | </div>
          | <div style='overflow:hidden;'>
          | <div id='gmap_canvas' style='height:100%;width:100%;'></div>
          | </div>
          | <div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div> 
    .modal-footer.grey.darken-3
      a.modal-close.waves-effect.waves-green.btn-flat.grey-text(onclick='modalInstance.close') Close
