section.modals
  .fixed-action-btn
    a.btn-floating.btn-large.waves-effect.waves-light.btn
      i.large.material-icons contact_phone
    ul
      li
        a#upload-form-btn.btn-floating.red.waves-effect.waves-light.modal-trigger(href='#upload-form')
          i.material-icons attach_file
  //- a#footer-mdl-btn.waves-effect.waves-light.btn.modal-trigger(href='#modalMessageNDirectionForm') Contact Us
  //- // Modal Structure
  #upload-form.modal
    .modal-content.z-depth-5.grey.darken-3(style="border-top: 1px solid #2d2d2d;border-bottom: 1px solid #2d2d2d")
      .fileUploadForm.row.container
        form.descriptionForm.col.s12.m6.l4(enctype="multipart/form-data")
          h5 Upload Car Data
          .input-field
            label(for="title") Title:
            input.title.m-1(name="title", type='text')
          .input-field
            label(for="year") Year:
            input#year.m-1(name="year", type='text')
          .input-field
            label(for="make") Make:
            input#make.m-1(name="make", type='text')
          .input-field
            label(for="model") Model:
            input#model.m-1(name="model", type='text')
          .input-field
            label(for="state") State:
            input#state.m-1(name="state", type='text')
          .input-field
            label(for="condition") Condition:
            textarea#condition.m-1(name="condition", cols="30", rows="3")
          .input-field
            label(for="price") Price:
            input#price.m-1(name="price", type='text')
          .input-field
            label(for="mileage") Mileage:
            input#mileage.m-1(name="mileage", type='text')
          .input-field
            label(for="extColor") Exterior Color:
            input#extColor.m-1(name="extColor", type='text')
          .input-field
            label(for="intColor") Interior Color:
            input#intColor.m-1(name="intColor", type='text')
          .input-field
            label(for="transmission") Transmission:
            input#transmission.m-1(name="transmission", type='text')
          .input-field
            label(for="drivetrain") Drivetrain:
            input#drivetrain.m-1(name="drivetrain", type='text')
          .input-field
            label(for="availability") Availability:
            input#availability.m-1(name="availability", type='text')
        .col.s12.m6.l8
          h6 Image Previews
          .preview-images.row
          div.addImgUnit
            a.modal-load-img Add image
          //- .img-unit.center
          //-   input.upload-input.grey.darken-3.btn-flat.m-1.waves-effect.waves-light.grey-text(name='job-picture', type="file")
          //-   .img-box        
    .modal-footer.grey.darken-3
      a.submit-btn.btn-flat.waves-effect.waves-light.grey.darken-3.grey-text Submit
      a.modal-close.waves-effect.waves-green.btn-flat.grey-text(onclick='modalInstance.close') Close
