.fixed-action-btn
  a.btn-floating.btn-large.waves-effect.waves-light.btn
    i.large.material-icons contact_phone
  ul
    li.upload
      a.btn-floating.red.waves-effect.waves-light.modal-trigger(href='#upload-form')
        i.material-icons attach_file
    li
      a.btn-floating.orange.waves-effect.waves-light.modal-trigger(href='#contact')
        i.material-icons publish
    li
      a.btn-floating.yellow.darken-1.waves-effect.waves-light(href="mailto:ghov1973@gmail.com", target="_blank", onclick="false;")
        i.material-icons email
    li
      a.btn-floating.blue.waves-effect.waves-light(href="tel:347-665-5678")
        i.material-icons local_phone
a#footer-mdl-btn.waves-effect.waves-light.btn.modal-trigger(href='#contact') Contact Us
// Modal Structure
include modal-contactndir-form
include modal-upload-preview
