section.modals
  #car-details.modal
    .modal-content.z-depth-5.grey.darken-3(style="border-top: 1px solid #2d2d2d;border-bottom: 1px solid #2d2d2d")
      .fileUploadForm.row.container
        .descriptionForm.col.s12.m6.l4
          h5 Description
          ul
            li.title
              b Title: 
              span
            li.year
              b Year: 
              span
            li.make
              b Make: 
              span
            li.model
              b Model: 
              span
            li.state
              b State: 
              span
            li.condition
              b Condition: 
              span
            li.price
              b Price: 
              span
            li.mileage
              b Mileage: 
              span
            li.ext-color
              b Ext. Color: 
              span
            li.int-color
              b Int. Color: 
              span
            li.transmission
              b Transmission: 
              span
            li.drivetrain
              b Drivetrain: 
              span
            li.availability
              b Available: 
              span
          h5 Application
          ul
            li
              a Check qualification
        .col.s12.m6.l8
          h6 Images
          .preview-images.row
    .modal-footer.grey.darken-3
      a.modal-close.waves-effect.waves-green.btn-flat.grey-text(onclick='modalInstance.close') Close
