block navigation
  header.navbar
    nav#navigation.black
      h2.seo Menu
      .nav-wrapper
        .brand-logo
          a(onclick="menuAction('home')")
            img#logo(src="images/logo/Logo-or.svg.hi-final.png", alt="GHOV AUTO")
        a.sidenav-trigger(data-target='mobile', href='#')
          i.material-icons menu
        ul#desktop.right.hide-on-med-and-down
          li.home
            a.active(onclick="menuAction('home')") Home
          li.gallery
            a(onclick="menuAction('car-sales');") Car Sales
          li.services
            a(onclick="menuAction('services');") Repairs & Maintenance
          li.about
            a(onclick="menuAction('about');") About Us
          li.logout
            a(href='/logout') Logout
    ul#mobile.sidenav
      li.home
        a.active(onclick="menuAction('home');") Home
      li.gallery
        a(onclick="menuAction('car-sales');") Car Sales
      li.services
        a(onclick="menuAction('services');") Repairs & Maintenance
      li.about
        a(onclick="menuAction('about');") About Us
      li.logout
        a(href='/logout') Logout
//- include modal-upload-preview