section#uploads
    .container-back-frame
    .container-back-solid
    .row.container
        .center-align.white-text
            h5 Jobs' Uploads
        form.form.col.s12.m6.l6(action="/upload", method='post', enctype='multipart/form-data')
            .form-group
                input#upload-input.brown.darken-4.btn.btn-primary.m-1.waves-effect.waves-light(type="file", name='job-picture')
                textarea.form-control.m-1(name="description", cols="30", rows="3")
                input.btn.btn-primary.m-1.waves-effect.waves-light.brown.darken-4(type='submit', value='Submit') 
        .img-container.col.s12.m6.l6
            img#preview.responsive-img.col.s8.m10.l10
    