section#uploads
    .container-back-frame
    .container-back-solid
    .container
        div.text-center 
            h1 Jobs' Uploads
        form.form(action="/upload", method='post', enctype='multipart/form-data')
            .form-group
                input#upload-input.btn.btn-primary.m-1(type="file", name='job-picture')
                textarea.form-control.m-1(name="description", cols="30", rows="3")
                input.btn.btn-primary.m-1(type="submit" value='Submit')
        img#preview.responsive-img
    