#navigation ul{margin-right:10px}.card-links{border-top:1px solid #91bbff}.card-links a{display:inline-block;float:right;padding:10px;margin:0 10px;cursor:pointer}/*# sourceMappingURL=style-admin.css.map */
