	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/05/2019 23:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-floor:before { content: "\f100"; }
.flaticon-woodworking:before { content: "\f101"; }
.flaticon-saw:before { content: "\f102"; }
.flaticon-saw-2:before { content: "\f103"; }
.flaticon-vest:before { content: "\f104"; }
.flaticon-worker:before { content: "\f105"; }
.flaticon-constructor-with-hat-and-a-gear:before { content: "\f106"; }
.flaticon-nail:before { content: "\f107"; }
.flaticon-fabric-1:before { content: "\f108"; }
.flaticon-parquet-3:before { content: "\f109"; }
.flaticon-tile:before { content: "\f10a"; }
.flaticon-stair:before { content: "\f10b"; }
.flaticon-stair-1:before { content: "\f10c"; }
.flaticon-dohyo:before { content: "\f10d"; }
.flaticon-floor-1:before { content: "\f10e"; }
.flaticon-fabric-2:before { content: "\f10f"; }
.flaticon-floor-2:before { content: "\f110"; }
.flaticon-floor-3:before { content: "\f111"; }
.flaticon-floor-5:before { content: "\f112"; }
.flaticon-floor-6:before { content: "\f113"; }
.flaticon-pattern:before { content: "\f114"; }
.flaticon-pattern-1:before { content: "\f115"; }
.flaticon-wood-2:before { content: "\f116"; }
.flaticon-floor-7:before { content: "\f117"; }
.flaticon-floor-8:before { content: "\f118"; }
.flaticon-tile-1:before { content: "\f119"; }
.flaticon-floor-9:before { content: "\f11a"; }
.flaticon-floor-10:before { content: "\f11b"; }
.flaticon-fabric-3:before { content: "\f11c"; }
.flaticon-waterproof:before { content: "\f11d"; }
.flaticon-wood-3:before { content: "\f11e"; }
.flaticon-chimney:before { content: "\f11f"; }